<div class="container">
  <table class="table bg-light table-teacher">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First name</th>
        <th scope="col">Last name</th>
        <th scope="col">Subject</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      <tr>
        <th scope="row">1</th>
        <td>Enis</td>
        <td>Qafeleshi</td>
        <td>044/123-456</td>
        <td>
          <button class="btn btn-danger">Fshij</button>
          <button class="btn btn-danger">Fshij</button>
        </td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Ibrahim</td>
        <td>Gerbiqi</td>
        <td>045/456-789</td>
        <td>
          <button class="btn btn-danger">Fshij</button>
          <button class="btn btn-danger">Fshij</button>
        </td>

      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>046/789-123</td>
        <td>
          <button class="btn btn-danger">Fshij</button>
          <button class="btn btn-danger">Fshij</button>
        </td>
      </tr>

    </tbody>
  </table>
</div>
