<div class="container">
  <div class="row row-teacher">
    <div class="col-md-4 colInput bg-light">
      <h3>Create Teacher</h3>
      <form>
        <!-- 2 column grid layout with text inputs for the first and last names -->
        <div class="row mb-4">
          <div class="col">
            <div class="form-outline">
              <input type="text" class="form-control" id="firstName" name="firstname" [(ngModel)]="first_name"
                class="form-control" />
              <label class="form-label" for="firstname">First name</label>
            </div>
          </div>
          <div class="col">
            <div class="form-outline">
              <input type="text" class="form-control" id="lastName" name="lastName" [(ngModel)]="last_name"
                class="form-control" />
              <label class="form-label" for="lastName">Last name</label>
            </div>
          </div>
        </div>
        <!-- Email input -->
        <div class="form-outline mb-4">
          <input type="email" class="form-control" id="email" name="email" [(ngModel)]="Email" class="form-control" />
          <label class="form-label" for="email">Email</label>
        </div>

        <!-- Number input -->
        <div class="form-outline mb-4">
          <input type="text" class="form-control" id="mobile" name="mobile" [(ngModel)]="Mobile" class="form-control" />
          <label class="form-label" for="mobile">Phone</label>
        </div>

        <!-- Submit button -->
        <button type="button" (click)="addTeacher()" class="btn btn-primary btn-block mb-4">
          Add Teacher
        </button>
      </form>
    </div>

    <div class="col-md-8">
      <table class="table bg-light table-teacher">
        <thead>
          <tr>
            <th scope="col">First name</th>
            <th scope="col">Last name</th>
            <th scope="col">Email</th>
            <th scope="col">Mobile</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          <tr *ngFor="let teacher of teacherList">
            <td>{{ teacher.first_name }}</td>
            <td>{{ teacher.last_name }}</td>
            <td>{{ teacher.Email }}</td>
            <td>{{ teacher.Mobile }}</td>
            <td>
              <button class="btn btn-danger" (click)="deleteTeacher(teacher)">
                Delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row row-student">
    <div class="col-md-4 colInput bg-light">
      <h3>Create Student</h3>
      <form>
        <!-- 2 column grid layout with text inputs for the first and last names -->
        <div class="row mb-4">
          <div class="col">
            <div class="form-outline">
              <input type="text" class="form-control" id="firstName" name="firstname" [(ngModel)]="firstName" />
              <label class="form-label" for="firstname">First name</label>
            </div>
          </div>
          <div class="col">
            <div class="form-outline">
              <input type="text" class="form-control" id="lastName" name="lastName" [(ngModel)]="lastName" />
              <label class="form-label" for="lastName">Last name</label>
            </div>
          </div>
        </div>
        <!-- Email input -->
        <div class="form-outline mb-4">
          <input type="email" class="form-control" id="email" name="email" [(ngModel)]="email" />
          <label class="form-label" for="email">Email</label>
        </div>

        <!-- Number input -->
        <div class="form-outline mb-4">
          <input type="text" class="form-control" id="mobile" name="mobile" [(ngModel)]="mobile" />
          <label class="form-label" for="mobile">Phone</label>
        </div>

        <!-- Submit button -->
        <button type="submit" class="btn btn-primary btn-block mb-4" class="btn btn-outline-success"
          (click)="addStudent()">
          Add Student
        </button>
      </form>
    </div>

    <div class="col-md-8">
      <table class="table bg-light table-teacher">
        <thead>
          <tr>
            <th scope="col">First name</th>
            <th scope="col">Last name</th>
            <th scope="col">Email</th>
            <th scope="col">Phone</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          <tr *ngFor="let studnet of studentList">
            <td>{{ studnet.firstName }}</td>
            <td>{{ studnet.lastName }}</td>
            <td>{{ studnet.email }}</td>
            <td>{{ studnet.mobile }}</td>
            <td>
              <button class="btn btn-danger" (click)="deleteStudent(studnet)">
                Delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row row-subject">
    <div class="col-md-4 colInput bg-light">
      <h3>Create Subject</h3>
      <form>
        <!-- 2 column grid layout with text inputs for the first and last names -->
        <div class="row mb-4">
          <div class="col">
            <div class="form-outline">
              <input type="text" id="form6Example1" class="form-control" />
              <label class="form-label" for="form6Example1">Subject</label>
            </div>
          </div>
        </div>
        <div class="row mb-4">
          <div class="col">
            <div class="form-outline">
              <input type="text" id="form6Example2" class="form-control" />
              <label class="form-label" for="form6Example2">Teacher</label>
            </div>
          </div>
        </div>
        <!-- Email input -->
        <div class="form-outline mb-4">
          <input type="text" id="form6Example5" class="form-control" />
          <label class="form-label" for="form6Example5">Credits</label>
        </div>

        <!-- Submit button -->
        <button type="submit" class="btn btn-primary btn-block mb-4">
          Add Subject
        </button>
      </form>
    </div>

    <div class="col-md-8">
      <table class="table bg-light table-teacher">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Subject</th>
            <th scope="col">Teacher</th>
            <th scope="col">Credits</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          <tr>
            <th scope="row">1</th>
            <td>Fizik</td>
            <td>Enis Qafeleshi</td>
            <td>7</td>
            <td><button class="btn btn-danger">Fshij</button></td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Anglisht</td>
            <td>Ibrahim Gerbiqi</td>
            <td>5</td>
            <td><button class="btn btn-danger">Fshij</button></td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Sport</td>
            <td>Larry the Bird</td>
            <td>6</td>
            <td><button class="btn btn-danger">Fshij</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
